
@{
    ViewBag.Title = "Calculator";
}

<div class="container-fluid body-content">
    <div class="row background" id="shape-home">
        <div class="welcome-container">
            <h1>Hi! Welcome to GeoMath!</h1>
            <div href="shape-calc" class="sim-button scroll-button"><span>Get Started</span></div>
        </div>
    </div>

    <div class="row" id="shape-calc">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-8">
            <canvas class="shape-canvas" id="shapeCanvas"></canvas>
        </div>
    </div>
    <button class="scroll-button" href="shape-calc">Back To Top</button>
</div>
