body {
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'Nunito';
    background-image: url("/Images/purple-shape-background.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-link-title {
    font-family: 'Bungee Inline';
    font-size: 40px;
    padding-left: 2%;
    margin-right: 10%;
}

.navbar-link {
    font-size: 20px;
}

a {
    color: #17BEBB !important;
}

.background {
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.baby-powder {
    background-color: #FFFFFA;
}

.tiffany-blue {
    color: #17BEBB !important;
}

.outer-space {
    background-color: #464655;
}

.coral {
    background-color: coral !important;
}

.tea-green {
    background-color: #D0F1BF;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.shape-canvas {
    background-color: #FFFFFA;
}

.navbar-button {
    border-radius: 2px;
    border-color: #17BEBB;
}
